.antd-modal-styled {
  padding-bottom: 0;
  .ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
    margin-left: 0;
  }
  .ant-modal-confirm-content {
    margin: 0;
  }
  .ant-modal-body {
    padding: 0;
  }
  .antd-modal-header {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #f5f6fa;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 2px;
    }
  }
  .antd-modal-content {
    padding: 0 20px;
    margin-bottom: 10px;
  }
  .ant-form-item-label {
    font-weight: 500;
  }
  .ant-modal-confirm-btns {
    margin: 0 20px 10px 10px !important;
  }
  .ant-modal-footer {
    border-top: none;
  }
  div[aria-hidden='true'] {
    display: none;
  }
}
